.social-button a
  display: block;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  line-height: 2.4;
  margin: 4px 0;
  &:hover
    background-color: var(--btn-hover-color);

.nature_damage_25
  color: #f47466;
  background-color:#fff4f3;
.nature_damage_150
  color: #49b1f5;  
  background-color:#c9eaff;